<link rel="stylesheet" href="/css/projectsSidebar.css" />
<div class="sidebar-container">
  <button><a href="/newProject">+ New Project</a></button>
  <div>
    <ul>
      <% for( let i = 0; i < allProjects.length; i++ ) { %>
      <li>
        <a href="/projectDetail/<%= allProjects[i]._id %>">
          <%= allProjects[i].name %>
        </a>
      </li>
      <% } %>
    </ul>
  </div>
</div>
